{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <body>
    <h2>Стоимость контрактов в 2011-2013 году</h2>
    <div id="chart_div" style="width: 900px; height: 500px;">
        <img src="/static/img/loading.gif"/>
    </div>

    <p>JSON</p>
    <p>
        {
            'Год' : {
                'Контракты' : 'Количество',
                'Бюджет' : 'Количество'
            }
        }
    </p>
    <p>Пример:</p>
    <p>{{json}}</p>


    <p>CSV</p>
    <p>Год, Количество контрактов, Бюджета потрачено</p>
    <p>Пример:</p>
    {%for data_str in cvs%}
        <p>{{data_str}}</p>
    {%endfor%}

  </body>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Year', 'Потрачено средств в году'],

      {%for key in sum_region%}
        [{{key}}, {{sum_region[key]}} ],
      {%endfor%}
    ]);

    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
    chart.draw(data, {
            vAxis: {title: 'Год', format : '0', gridlines:{count:3}},
            hAxis: {title: "Цена, рубли"}
            }
        );
  }
</script>

{% endblock %}